.column-container {
  width: calc(100vw/6);
  float: left;
  text-align: center;
  h3 {
    display: inline-flex;
    justify-content: center;
    width: 5em;
    height: 4em;
    font-size: 20px;
    font-weight: 400;
    padding: 0;
    margin: 0;
    color: $accent;
  }
  ul {
    margin: 0;
    padding: 0;
    text-align: center;
    color: $secondary;
    li {
      font-size: 34px;
      overflow: scroll;
      background: transparentize(#1573D7, .65);
      list-style-type: none;
      border: 2px solid white;
      border-radius: 5px;
      padding: 10% 0%;
      margin: 5% 5%;
      min-width: 3rem;
      &:hover {
        transition: .5s;
        background: transparentize(#1573D7, .4);
      }
    }
    .wasViewed {
      color: grey;
      text-decoration: line-through;
    }
    .correct {
      color: $correct;
    }
    .wrong {
      color: red;
    }
  }
}
