.column-container {
  width: calc(100vw/6);
  float: left;
  // margin-top: 2%;
  text-align: center;
  h3 {
    font-size: 1.3rem;
    font-weight: 100;
    padding: 0;
    margin: 0;
    color: #FFF;
    display: inline-flex;
    min-height: 5vh;
    max-height: 15vh;
    // width: 95%;
    align-items: center;
    justify-content: center;
  }
  ul {
    margin: 0;
    padding: 0;
    text-align: center;
    color: #FED75E;
    li {
      // background: url('../assets/Jeopardy.jpg');
      // background-repeat: no-repeat;
      // background-size: 100vh;
      font-size: 2.4rem;
      background: transparentize(#1573D7, .65);
      list-style-type: none;
      border: 2px solid white;
      border-radius: 5px;
      padding: 10% 0%;
      margin: 5% 10%;
      &:hover {
        background: transparentize(#1573D7, .4);
      }
    }
  }
}
