.column-container {
  width: calc(100vw/6);
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: center;
  h3 {
    display: flex;
    justify-content: center;
    height: 70px;
    font-size: 20px;
    font-weight: 400;
    padding: 0;
    margin: 0;
    color: #FFFCF7;
    align-items: center;
    width: 200px;
    align-self: center;
  }
  ul {
    margin: 0;
    padding: 0;
    text-align: center;
    color: $secondary;
    li {
      font-size: 34px;
      overflow: scroll;
      background: transparentize(#1573D7, .65);
      list-style-type: none;
      border: 2px solid white;
      border-radius: 5px;
      padding: 10% 0%;
      margin: 5% 5%;
      min-width: 3rem;
      &:hover {
        transition: .5s;
        background: transparentize(#1573D7, .4);
        cursor: pointer;
      }
    }
    .wasViewed {
      color: grey;
      text-decoration: line-through;
    }
    .correct {
      color: $correct;
    }
    .wrong {
      color: $wrong;
    }
  }
}

@media (max-width: 1200px) {
  .column-container {
    h3 {
      font-size: 20px;
      width: 70%;
    }
    ul {
      li {
        font-size: 30px;
      }
    }
  }
}
@media (max-width: 900px) {
  .column-container {
    h3 {
      font-size: 18px;
      // width: 60%;
    }
  }
}
@media (max-width: 550px) {
  .column-container {
    ul {
      li {
        font-size: 22px;
      }
    }
  }
}
