#game-container {
  &::after{
    content: ' ';
    background: $primary;
    background-repeat: no-repeat;
    background-size: cover;
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    z-index: -1;
    // background-position: center center;
  }
}
.gameboard {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
}

.top-score {
  display: flex;
  align-items: center;
  justify-content: space-around;
  position: relative;
  bottom: 60px;
  left: 20px;
  width: 30%;

  p {
    color: $secondary;
    margin: 0;
    font-size: 25px;
  }
}

footer {
  display: flex;
  align-items: center;
  justify-content: space-around;
  height: 14vh;
  width: 60%;
  margin: 0 auto;
  border: solid white 1px;
  color: $accent;
}
