#game-container {
  &::after{
    content: ' ';
    background: url('../assets/Jeopardy-Logo.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    opacity: 0.7;
    // height: 100vh;
    // width: 100vw;
    z-index: -1;
    background-position: center center;
  }
}
.gameboard {
  // margin: 0;
  // padding: 0;
  // height: 100rem;
  // width: 100vw;
  &::after{
    content: ' ';
    clear: both;
    display: block;
  }
}
