.signup-modal {
  text-align: center;
  // background:
  h3 {
    margin: 0;
    color: $secondary;
    font-size: 2rem;
  }
  .signup-form, .login-form {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
    margin: 0 auto;
    height: 10em;
    width: 8em;
    background: $background;
    text-align: center;
  }
  .signup-form, .login-form {
    input {
      padding: 2%;
      border: none;
      width: 50%;
      margin: 0 auto;
      font-size: 1rem;
      border-radius: 2px;
    }
    .modal-btn {
      border: none;
      padding: 2%;
      background: none;
      color: $accent;
      border: none;
      border-radius: 2px;
      font-size: 1rem;
      &:hover {
        transition: .5s;
        background: $accent;
        color: #FFF;
        border: solid #FFF 1px;
        border-radius: 3px;
        cursor: pointer;
      }
    }
    .cancel-btn {
      border: none;
      color: $accent;
      display: block;
      margin: 2% auto;
      font-size: 1rem;
      background: none;
      &:hover {
        transition: .5s;
        border: solid #FFF 1px;
        border-radius: 3px;
        background: $accent;
        color: #FFF;
        cursor: pointer;
      }
    }
  }
}
