@import "_variables.scss";
@import "header.scss";
@import "loginSignupModals.scss";
@import "gameboard.scss";
@import "modal.scss";
@import "column.scss";

body {
  font-family: sans-serif;
  margin: 0;
  font-size: 3rem;
  footer {
    text-align: center;
    color: $secondary;
    margin: 0;
  }
}
