body {
  font-family: sans-serif;
  margin: 0;
}

.modal-container{
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  padding: 20% 0 0;
}

.modal {
  height: 75%;
  width: 80%;
  margin: 0 auto;
  background: pink;
  overflow: scroll;
}
