.modal-container{
  position: fixed;
  display: flex;
  align-items: center;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  padding: 5% 0 0;
  background: rgba(0, 0, 0,.7);
  .modal {
    display: flex;
    align-items: center;
    justify-content: space-around;
    height: 10em;
    width: 15em;
    margin: 0 auto;
    background: #e7eef5;
  }
  h2 {
    color: #1506A1;
    text-align: left;
    font-size: 30px;
    font-weight: 100;
    line-height: 1.4;
    width: 55%;
    margin-bottom: 0;
  }
  .input-answer {
    padding: 2% 2% 0 2%;
    border: none;
    width: 50%;
    margin: 0 auto;
    font-size: 1rem;
    border-radius: 2px;
    height: 8em;
    outline: none;
  }
  .modal-btn-container {
    display: flex;
    align-items: center;
    justify-content: space-around;
    width: 70%;
  }
  .submit-btn, .pass-btn {
    width: 40%;
    padding: 2%;
    background: #FFF;
    color: #1506A1;
    border: solid #1506A1 1px;
    border-radius: 2px;
    font-size: 1rem;
    &:hover {
      transition: .5s;
      background: #1506A1;
      color: #FFF;
      border: solid #FFF 1px;
      border-radius: 3px;
    }
  }
  .pass-btn {
    border: solid #E00007 1px;
    color: #E00007;
    // display: block;
    // margin: 5% auto;
    // font-size: 1rem;
    // background: white;
    &:hover {
      background: #E00007;
    }
  }
}

.signup-form, .login-form {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
  margin: 0 auto;
  height: 60%;
  width: 50%;
  background: #89BCF1;
}

.answer-reveal {
  display: none;
}

.question-modal {
  flex-direction: column;
  height: 60%;
  width: 60%;
}
