.modal-container{
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  padding: 20% 0 0;
  background: rgba(0, 0, 0,.7);
  .modal {
    height: 75%;
    width: 80%;
    margin: 0 auto;
    background: #EDEFED;
    overflow: scroll;
  }
  h2 {
    color: #1506A1;
    display: block;
    text-align: center;
    max-width: 40rem;
    margin: 3% auto;
    padding: 3%;
    font-size: 2rem;
    line-height: 1.2em;
  }
  .input-answer {
    padding: 3%;
    border: none;
    width: 70%;
    margin: 0 auto;
    margin-top: 10%;
    font-size: 1rem;
    border-radius: 2px;
  }
  .submit-btn {
    border: none;
    padding: 3%;
    background: #FFF;
    color: #1506A1;
    border: solid #1506A1 1px;
    border-radius: 2px;
    font-size: 1rem;
    &:hover {
      background: #1506A1;
      color: #FFF;
      border: solid #FFF 1px;
    }
  }
}
